.bundle
db/*.sqlite3
log/*.log
tmp/**/*
*.sqlite3
.DS_Store
doc/**/*
config/app_config.yml
log/development.log
log/test.log
coverage.data
metrics/*
db/sphinx/*
config/development.sphinx.conf
config/test.sphinx.conf
rerun.txt
.rvmrc