<% unless collection.blank? -%>
  <h2>Events</h2>
    <table id="summary">
      <tr>
        <th></th>
        <th>Twitter</th>
        <th>Name</th>
      </tr>
    <% collection.each do |event| -%>
      <tr>
        <td><%= link_to "Edit", edit_admin_event_path(event), :class => 'secondary' %></td>
        <td><%= event.twitter %></td>
        <td><%= link_to_name(event) %></td>
      </tr>
    <% end -%>
    </table>
<% end -%>