<h2>Create a new event</h2>

<% labeled_form_for @event, :url => admin_events_path do |f| %>
    
  <%= render :partial => 'fields', :locals => {:f => f} %>
      
  <%= f.submit "Create event" %>
<% end %>