<h2>Create a new event</h2>

<div class="main left">
  <%= error_messages_for :event %>

  <% labeled_form_for setup_event(@event), :url => admin_events_path do |f| %>
    
    <%= render :partial => 'fields', :locals => {:f => f} %>
      
    <%= f.submit "Create event" %>
  <% end %>
</div>

<div class="side right">
</div>