- @page_title = "Ruby events archive"

= render :partial => 'happenings/attend', :collection => @happenings, :locals => {:happenings => @happenings}

= content_for :side do
  = render :partial => 'shared/box_submit'