.clearfix:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}

.cost, .event_desc{margin-bottom: 8px;}

.clearfix{zoom: 1;}
/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
/* End hide from IE-mac */

body{
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #736f6f;
}

#hd{font-size: 93%;}
#bd{font-size: 93%;}
#ft{font-size: 85%; }

.form_block{font-size: 93%;}

/* blocks */
#hd{margin: 30px 50px;}
#bd{background-color: #f3f3f3; padding: 32px 50px 42px 50px}
#ft{background-color: #8c0406; color: #fff; padding: 26px 50px 40px;}
#content, #ft .wrapper{width: 860px;}
#user-bar-greeting{ text-align: right;}
#user-bar-action{ text-align: right;}
.main{ width: 653px;}
.side{ width: 191px;}
.left{float: left;}
.right{float: right;}
.half{width: 49%;}
.third{width: 33%;}
.form_block{}
#select_date{ margin: 10px 0;}
.page_links{margin: 0 0 10px 0;}
div.primary{border: 1px solid #ccc; background-color: #f6f6f6; padding: 10px; margin: 0px 0 40px 0;}
#search{margin: 0 0 20px 0;}
div.box{padding: 25px 0; border-bottom: 1px solid #ededed;}
div.last{padding: 25px 0; border-bottom: none;}

#ft .side{text-align: right;}
#content .main .wrapper{background-color: #fff; padding: 32px 34px;}
.primary_info{font-size: 108%; }
.secondary_info{width: 368px;}

.submit_box{background-color: #737373; color: #fff; padding: 15px 10px 8px 20px;}
div.secondary{margin-top: 27px; padding-top: 27px; border-top: 1px solid #ededed;}
#tweets{background-color: #8c0406; padding: 20px 18px; color: #fff;}
#user_bar{float: right;}

/* text */
#hd h1{height: 41px; background: url('../images/title.gif') top left no-repeat; text-indent:-9999px; width: 100%;}
#hd h2{height: 76px; background: url('../images/header_subtitle.gif') top left no-repeat; text-indent:-9999px;}
h1{font-size: 167%; color: #8c0406; font-weight: normal; margin-bottom: 5px;}
h3{color: #fff; font-size: 153.9%;}
h4{font-weight: bold; color: #686868; margin-bottom: 8px;}
h5{margin: 20px 0 2px 0;font-weight: bold; }
p{line-height: 108%; padding-bottom: 4px;}
div.secondary h5{margin-top: 0;}

strong{font-weight: bold;}
.optional{ color: #999;}
.optional input{ color: #999;}
p.date{ margin-bottom: 7px;}
span.date{color: #686868; font-weight: bold;}
.location{color: #686868;}
.links{margin-bottom: 20px;}
#footnotes{margin-top: 100px; color: #999; font-size: 83%;}
h2.aim{ margin-bottom: 20px;}
sup{line-height:0; vertical-align:super; font-size: 83%; padding-left: 2px;}
#footnotes sup{padding: 0 2px 0 0;}
.deadline{font-style: italic; color: #999;}
.temp{background-color: lightyellow;}
cite{color: #999;}
.follow{padding: 9px 0; border-top: 1px solid #a33638; border-bottom: 1px solid #a33638; margin: 8px 0 13px;}
.past{color: #999;}
.speaker_name{color: #8c0406;}

/* links */
a{color: #000;}
a.primary{color: #8c0406;}
a.active{color: #333;}
#hd a{color: #333;}
a[rel]{color: #00A0F0; padding-right: 15px; background:url(../images/external.png) no-repeat;
background-position: top right;
}

sup a{color: #999;}
#ft a{color: #fff; text-decoration: none;}
#tweets a{color: #edb815; text-decoration: none;}

/* menu */
ul#menu{margin: 10px 0;}
ul#menu li{display: inline-block; margin-right: 10px;}

/* form */
form{width: 380px;}
form.small{width: 300px;}
.field_wrap{padding: 2px;}
.row{margin: 0 0 10px 0;}
input,textarea{padding: 3px 8px; background-color: #f7f7f7; border: 1px solid #c7c7c7;}
input[type='image']{padding: 0; background-color: #fff; border: none;}
input[type='text']{width: 250px;}
input.short{width: 40px;}
textarea{width: 250px;}
textarea.wide{width: 95%;}
select.country{width: 250px;}
label{width: 100px; display: inline-block; color: #686868;}
label.hori{ width: 100%; display: block;}
label.inline{display: inline;}
.checkbox_wrap label{width: 200px;}
textarea.hori{ width: 100%;}
.row{margin: 0 0 20px 0;}
.primary_attributes{border: 1px solid #999; padding: 10px; margin: 0 0 40px 0;}
.checkbox_wrap{margin: 0 0 5px 0;}
.field_wrap{margin: 0 0 10px 0;}
.line_text{background-color: #f6f6f6; padding: 2px 0;}
.line_input{padding-top: 4px;}
.line_text, .line_input{width: 340px; border: 1px solid #f6f6f6;}
.line_input .wrap{width: 10%; float: left; text-align: center;}
.primary_attributes{border: 1px solid #f6f6f6; padding: 10px; margin: 0 0 40px 0; background-color: #f6f6f6;}
.secondary_attributes{padding: 10px; border: 1px solid #f6f6f6; background-color: #f6f6f6; margin: 0 0 40px 0;}
div.submit{margin: 17px 0 0 0;text-align: right;}
form span.info{margin-left: 102px; color: #ccc; font-size: 85%; display: block;}
label em {margin-left: 2px; color: #df0000;}

/* notices */
#flash_notice, #flash_error {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}
.fieldWithErrors input.inputText, .fieldWithErrors textarea{margin-left: 140px;}
.fieldWithErrors textarea.hori{margin-left: 0;}
.fieldWithErrors label{color: #df0000;}
#errorExplanation {
  width: 400px;
  border: 2px solid #df0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: 0;
  background-color: #df0000;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 8px;
}

#errorExplanation ul {
  margin: 2px 24px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: disc;
}

span.error_message{
  background-color: #df0000;
  color: #fff;
  padding: 2px;
  display: inline-block;
  margin-left: 103px;
}
.fieldWithErrors input{
	margin-top: 2px;
	border: 1px solid #df0000;
}


/* table */
table#summary{width: 680px; margin: 20px 0;}
table#summary th{color: #999; padding: 3px 3px 10px 3px;}
table#summary td, table.events td{padding: 3px;}
table.events{margin-bottom: 0px; background-color: #fff; color: #686868;}
table.events td{vertical-align: top; padding: 12px 15px 14px 15px;}
table.events td.name, table.events td.status, table.events td.city, table.events td.date{padding-top: 28px;}
th{padding: 7px 12px; color: #fff; text-align: left;}
th.a{background-color: #8c0406; border-right: 1px solid #c76c6d; padding-left: 17px;}
th.b{background-color: #a00507; border-right: 1px solid #bb6b6d;}
th.c{background-color: #ae0508; border-right: 1px solid #bb6b6d;}
th.d{background-color: #bd0609;}
tbody tr{border-bottom: 1px solid #ededed;}
td.status{width: 22%; color: #686868; font-weight: bold;}
td.city{width: 26%;}
td.date{width: 15%;}


/* lists */
ul#tweets, ul.speakers{margin: 5px 0 10px 0;}
ul#tweets li{margin: 0 0 2px 0;}
#ft ul li{display: inline-block; margin-right:15px;}
#tweets li{margin-bottom: 15px;}
ul.speakers li{margin: 0 0 4px 0;}

/* images */
#hd img{display: block;}
img.logo{float: right;}
.submit_box img{margin-bottom: 16px;}
img.submit{float: right; margin-top: 9px; margin-bottom: 0;}
img.wwrails{margin-top: 20px;}

/* menu */
ul#tabs li{display: inline-block; margin-right: 1px; background-color: #c7c7c7; padding: 8px 17px;}
ul#tabs li.active{background-color: #8c0406;}
ul#tabs a{color: #fff; font-size: 131%; text-decoration: none;}
