- @page_title = "Register"

.wrapper.clearfix
  %h1 Register
  
  %p Not quite ready to register users, but aim to let event organisers register and add/amend their own events shortly.
  %p= "Any questions in the meantime, feel free to #{mail_to EMAIL_CONTACT, "email", :encode => 'hex'}"