<h2 class="aim">I'd like to <%= link_to "attend", events_to_path('attend')  %> / <%= link_to "speak", events_to_path('speak') %></h2>

<h3>Upcoming events</h3>
<div class="primary">
  <table class="events">
    <thead>
      <th></th>
      <th>Event</th>
      <th>Location</th>
      <th>Event date</th>
      <th></th>
    </thead>
    <tbody>
      <%= render :partial => 'events/event', :collection => @events %>
    </tbody>
  </table>
</div>

<% content_for :side do %>
  <div id='search'>
    <%= image_tag('search_example.png') %>
  </div>
<% end -%>