<h2>Upcoming events</h2>
<div class="primary">
  <table class="events">
    <%= render :partial => 'events/event', :collection => Event.upcoming %>
  </table>
</div>

<table class="events">
  <%= render :partial => 'events/event', :collection => Event.past %>
</table>

<table class="events">
  <%= render :partial => 'events/event', :collection => Event.unknown %>
</table>