<div id="map_canvas" style="width: 300px; height: 200px"></div>

<script type="text/javascript" charset="utf-8">
  var map = new GMap2(document.getElementById("map_canvas"));
  map.setCenter(new GLatLng(<%= latlng %>), 4);
  map.setUIToDefault();
  point = new GLatLng(<%= latlng %>);
  map.addOverlay(new GMarker(point));
</script>