<div id="map_canvas" style="width: 300px; height: 200px"></div>

<script type="text/javascript" charset="utf-8">
  var latlng = new google.maps.LatLng(<%= latlng %>);

  var myOptions = {
    zoom: 5,
    center: latlng,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  };

  var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

  var marker = new google.maps.Marker({
      position: latlng,
      map: map
  });
</script>