%ul#sub_tabs
  = link_to_showing_current('Overview', edit_event_path(@event), true)
  = link_to_showing_current('When &amp; Where', event_happenings_path(@event))
  = link_to_showing_current('Talks', '#')