- @page_title = "Ruby events archive"

- cache "events/archive" do
  = render :partial => 'events/attend', :locals => {:happenings => @happenings}

= content_for :side do
  = render :partial => 'shared/box_search'
  = render :partial => 'shared/box_submit'