- @page_title = "Ruby events archive"

- cache "happenings/archive" do
  = render :partial => 'happenings/attend', :locals => {:happenings => @happenings}

= content_for :side do
  = render :partial => 'shared/box_submit'