<div class="clearfix field_wrap">
  <%= label unless other[:hide_label] %>
  <%= element %>
  <%= error %>
  <% if other[:hint] -%>
    <span class="info"><%= other[:hint] -%></span>
  <% end -%>
</div>